@font-face {
    font-family: "zabars";
    src: url("./assets/fonts/zabars.ttf");
}

@font-face {
    font-family: "WaitNotes";
    src: url("./assets/fonts/WaitNotes.ttf");
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("assets/img/raniramli-desert-5396906.jpg");
    font-family: "zabars", "sans-serif";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
    background-image: -webkit-linear-gradient(top, #592301, #994409, #f6bb60);
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

#game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

#canvas {
    width:100%;
    height:100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.overlay{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hidden {
    display: none;
}

.endscreen-img {
    width: 600px;
    height: 300px;
    margin-bottom: 10px;
}

/* #region Home / Return Button */
.endscreen-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.endscreen-button img {
    width: 70px;
    height: 50px;
    cursor: pointer;
}

#home {
    bottom: 20px;
    left: 200px;
}

#restart {
    bottom: 20px;
    right: 200px;
}

.menu-btn{
    position: absolute;
    padding: 8px 16px;
    background-color: #994409;
    box-shadow: 0px 0px 6px 1px #000;
    border: 1px solid #f6bb60;
    border-radius: 16px;
}

.return-btn{
    position: absolute;
    padding: 8px 16px;
    background-color: #994409;
    box-shadow: 0px 0px 6px 1px #000;
    border: 1px solid #f6bb60;
    border-radius: 16px;
}

.endscreen-button img:hover{
    transform: scale(1.15);
}
/* #endregion */

/* #region StartButton */
#startScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

#startScreen img{
    width: 720px;
    height: 480px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

#startScreen button {
    position: absolute;
    top: 30px;              
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 50px;
    font-size: 32px;
    font-family: "zabars";
    text-transform: uppercase;
    color:  #7a3f00;
    background: linear-gradient(#ffcb45, #ff8c00);
    border: 4px solid #7a3f00;
    border-radius: 12px;
    cursor: pointer;
    box-shadow:
        0 6px 0 #7a3f00,
        0 10px 20px rgba(0,0,0,0.4);
    z-index: 20;
}

#startScreen button:hover {
    background: linear-gradient(#ffd85f, #ff9d1f);
    transform: translateX(-50%) scale(1.08);
}
/* #endregion */

footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 720px;
    padding-top: 24px;
    padding-bottom: 32px;
    background-color: rgb(153, 68, 9);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* #region Sound-Button */
#sound-btn {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s;
}

.sound:hover {
    filter: invert(90%) sepia(96%) saturate(6682%) hue-rotate(310deg)
        brightness(97%) contrast(99%);
    transition: 100ms;
}
/* #endregion */

/* #region Info-Controlls */
#help{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.help-ctr:hover {
    filter: invert(90%) sepia(96%) saturate(6682%) hue-rotate(310deg)
        brightness(97%) contrast(99%);
    transition: 100ms;
}

#help-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    padding: 25px;
    background-color: #994409;
    border: 1px solid #f6bb60;
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
    border-radius: 12px;
    z-index: 100;
}

#help-dialog h2 {
    text-align: center;  
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 10px;
    letter-spacing: 4px;
    color: #f6bb60;
    text-shadow: 2px 2px 8px rgb(0, 0, 0, 0.7);
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(255,255,255,.2);
    border-radius: 12px;
}

.control p {
    font-size: 20px;
    font-family: "WaitNotes";
    font-weight: bold;
}

#help-dialog button {
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    padding: 10px 30px;
    letter-spacing: 2px;
    font-size: 30px;
    background: #f6ba60c0;
    border: 3px solid #7a3f00;
    border-radius: 10px;
    cursor: pointer;
}

#help-dialog button:hover {
    background: #ffd966;
}
/* #endregion */

/* #region Fullscreen Mode */
.fullscreen {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.fullscreen:hover {
    filter: invert(90%) sepia(96%) saturate(6682%) hue-rotate(310deg)
        brightness(97%) contrast(99%);
    transition: 100ms;
}

#fullscreen {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* #endregion */

/* #region Responsive Smartphone */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}
/* #endregion */
